#su-autolinks table.widefat,
#su-autolinks table.widefat input.textbox,
#su-autolinks table.widefat td.su-link-to_id select {
	width: 100%;
}

#su-autolinks table.widefat td.su-link-options label {
	margin-right: 1em;
}

#su-autolinks table.widefat td.su-link-to_type {
	width: 10em;
}

#su-autolinks table.widefat td.su-link-to_id {
	width: 15em;
}

#su-autolinks table.widefat td.su-link-options {
	width: 17em;
}

#su-autolinks table.widefat td.su-link-delete {
	width: 3em;
	text-align: center;
}